<launch>

  <arg name="raw_data_path" default="$(find rospix3)/raw_data" />

  <!-- path to configuration and calibration files -->
  <!-- <arg name="calibration_path" default="$(find rospix3)/lib/x64/configs/MiniPIX-I04-W0037" /> -->
  <arg name="calibration_path" default="$(find rospix3)/lib/x64/configs/MiniPIX-L06-W0060" />

  <arg name="rospix3_frame" default="rospix3" />

  <arg name="verbose" default="true" />

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix_debug" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix_debug" value="debug_roslaunch"/>

  <arg name="standalone" default="true" />
  <arg name="manager" default="manager_name" />
  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg manager)"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>

  <node pkg="nodelet" type="nodelet" name="rospix3" args="$(arg nodelet) rospix3/Rospix3 $(arg nodelet_manager)" launch-prefix="$(arg launch_prefix_debug)" output="screen">

    <rosparam file="$(find rospix3)/config/default.yaml" />

    <param name="frame_id" value="$(arg rospix3_frame)" />

    <param name="raw_data_path" value="$(arg raw_data_path)" />
    <param name="calibration_path" value="$(arg calibration_path)" />

    <param name="verbose" value="$(arg verbose)" />

    <remap from="~cluster_list_out" to="~cluster_list" />

  </node>

</launch>
